/*******overwrite boostrap for body*******/
body{
	line-height:normal;
}
*{
	box-sizing: content-box;
}
/*******overwrite boostrap for body*******/



/*******all the containers*******/
html{
	height: 100%;
	width: 100%;
}
body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;

	background: url(../images/bg_base.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
}
.home-container{/*!!!!!!!!change to #cccccc later!!!!!!!!!!!!!!!!!!!*/
	min-height: 100%;
}
section{
	width: 100%;
	
	/*padding: 100px 0px 100px 0px;*/
}
/*hr{
	height: 3px;
	color: #262626;
	background: #262626;
	width: 90%;
	margin: 0;
	padding: 0;
	border: none;
}*/
.section-space{
	height: 55px;/*!!!!!!!!!!!!!!!!change it if the height of nav is changed*/
}
.section-space2{
	margin-top: -55px;
	height: 55px;/*!!!!!!!!!!!!!!!!change it if the height of nav is changed*/
}
@media screen and (max-width: 550px){
.section-space{
	height: 45px;/*!!!!!!!!!!!!!!!!change it if the height of nav is changed*/
}
.section-space2{
	margin-top: -45px;
	height: 45px;/*!!!!!!!!!!!!!!!!change it if the height of nav is changed*/
}
}
.section-game{
	position: relative;
	height: 270px;
	padding: 70px 0px 0px 0px;
}
@media screen and (min-width: 1200px){
.section-game{
	height: 290px;
	padding: 50px 0px 0px 0px;
}
}
@media screen and (max-width: 900px){
.section-game{
	height: 315px;
	padding: 25px 0px 0px 0px;
}
}
@media screen and (max-width: 550px){
.section-game{
	height: 300px;
	padding: 40px 0px 0px 0px;
}
}
.section-introduction{
	position: relative;
	height: 600px;
	
}
.section-contact{
	padding: 0px 0px 50px 0px;/*for copyright footer stay in buttom*/
	/*50+50*/
}
footer{
	background: red;
	width: 100%;
	height: 50px;/*for copyright footer stay in buttom*/
	margin-top: -50px;/*for copyright footer stay in buttom*/
	position: relative;
}
.color-container-black{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: -1;
	opacity: 0.7;
	background: #262626;
}
.color-container-red{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 300px;
	z-index: -1;
	opacity: 0.6;
	background: #ff3333;
}
.section-name{
	/*font*/
	font-family: 'Alegreya Sans';/*can use different font later*/
	font-weight: bold;
	font-size: 38px;
	position: relative;
	top: -50px;
}
/*******all the containers*******/




/*******top navigation bar*******/
/*entire top nav*/
.navbar{
	text-align: center;
	height: 55px;
	padding: 0px;
	margin: 0px;
	background: #4d0000;
	border: 0px;
	-webkit-box-shadow: 0px 2px 14px 2px #4d0000;
	-moz-box-shadow: 0px 2px 14px 2px #4d0000;
	box-shadow: 0px 2px 14px 2px #4d0000;
}


/*logo + game name*/
.logo{
	height: 48px;
	width: 48px;
	float: left;
	display: inline-block;
	padding: 3px 8px 0px 0px;
}
.navbar-header{
	position: absolute;
	left: 20px;
}
.navbar-header a{
	height: 55px;
	line-height: 55px;
	padding: 0px;
	margin: 0px;

	/*font*/
	font-family: 'Alegreya';/*can use different font later*/
	font-weight: bold;
	font-size: 25px;
}
.navbar .navbar-header>a{
	color: white;
}
.navbar .navbar-header>a:hover{
	color: white;
}
.navbar .navbar-header>a:focus{
	color: white;
}

/*center part of the top nav*/
.navbar-nav{
    display: inline-block;
    float: none;
    padding: 0px;
    margin: 0px;
}
.home-navbar-button{
	line-height: 32px;
	width: 38px;
	height: 31px;
	font-size: 22px;
	background: #800000;
	border: 0px;
	position: absolute;
	right: 30px;
	top: 6px;
	display: none;
}
.home-navbar-show{
	display: inline-block;
}

/*li and a of the center part of the top nav*/
.navbar-nav li{
	height: 55px;
	padding: 0px;
	margin: 0px;
	background: #4d0000;
}
/*.empty-li{
	width: 0px;
	overflow: hidden;
}*/
/*.navbar-nav .empty-li a{
	height: 55px;
	padding: 0px;
	margin: 0px;
	background: #0e2a3e;


	font-family: 'Alegreya Sans';
	font-weight: bold;
	font-size: 18px;
}*/
.navbar-nav .nonempty-li a{
    width: 180px;
    height: 55px;
    padding: 0px;
    margin: 0px;
    line-height: 55px;
    background: #4d0000;

    /*font*/
	font-family: 'Alegreya Sans';/*can use different font later*/
	font-weight: bold;
	font-size: 18px;
}
.navbar .navbar-nav li>a{
	color: white;
}
.navbar .navbar-nav li>a:hover{
	color: white;
	background: #800000;
	-webkit-box-shadow: 0px 3px 14px 0px #800000;
	-moz-box-shadow: 0px 3px 14px 0px #800000;
	box-shadow: 0px 3px 14px 0px #800000;
}
.navbar .navbar-nav li>a:focus{
	color: white;
}
.navbar .navbar-nav>.active>a{
	color: white;
	background: #800000;
	-webkit-box-shadow: 0px 3px 14px 0px #800000;
	-moz-box-shadow: 0px 3px 14px 0px #800000;
	box-shadow: 0px 3px 14px 0px #800000;
}
.navbar .navbar-nav>.active>a:hover{
	color: white;
	background: #800000;
	-webkit-box-shadow: 0px 3px 14px 0px #800000;
	-moz-box-shadow: 0px 3px 14px 0px #800000;
	box-shadow: 0px 3px 14px 0px #800000;
}
.navbar .navbar-nav>.active>a:focus{
	color: white;
	background: #800000;
	-webkit-box-shadow: 0px 3px 14px 0px #800000;
	-moz-box-shadow: 0px 3px 14px 0px #800000;
	box-shadow: 0px 3px 14px 0px #800000;
}


/*responsive for top nav*/
/*!!!!!!!!!!!!!!!!!!!!!!!!!need to add one media query for mobile!!!!!!!!!!!*/
/*@media screen and (max-width: 1200px){
.navbar-nav .nonempty-li a{
	width: 150px;
}
}*/
@media screen and (max-width: 1200px){/*767*/
.navbar-nav{
	display: none;
}
.home-navbar-show{
	display: inline-block;
}
.navbar-header{
	width: 100%;
	position: relative;
}
.home-navbar-button{
	display: inline-block;
}
/*.navbar-nav .empty-li{
	display: none;
}*/
.navbar-nav .nonempty-li a{
    width: 100%;
}
.navbar-nav .nonempty-li{
	width: 100%;
}
.navbar-nav{
    width: 100%;
    -webkit-box-shadow: 0px 2px 14px 2px #4d0000;
	-moz-box-shadow: 0px 2px 14px 2px #4d0000;
	box-shadow: 0px 2px 14px 2px #4d0000;
}
}
@media screen and (max-width: 550px){
.navbar{
	height: 45px;
	padding: 0px;
	margin: 0px;
	border: 0px;
}
.logo{
	height: 40px;
	width: 40px;
	padding: 2px 7px 0px 0px;
}
.navbar-header{
	left: 7px;
	top: 3px;
}
.navbar-header a{
	height: 45px;
	line-height: 45px;

	/*font*/
	font-size: 21px;
}
.home-navbar-button{
	line-height: 26px;
	width: 31px;
	height: 26px;
	font-size: 20px;
	right: 20px;
	top: 3px;
}
.navbar-nav{
	position: relative;
	top: 6px;
}
.navbar-nav li{
	height: 45px;
}
/*.navbar-nav .empty-li a{
	height: 45px;

	font-size: 15px;
}*/
.navbar-nav .nonempty-li a{
	height: 45px;
	line-height: 45px;

	/*font*/
	font-size: 15px;
}

}
/*******top navigation bar*******/












/*******content inside game section*******/
.game-super-container{
	position: relative;
	width: 850px;
}
.button-container{
	position: absolute;
	top: 90px;
	right: 50px;
}
.button-container button{
	display: block;
	height: 36px;
	width: 220px;
	border-radius: 3px;
	box-shadow: 3px 3px 19px -2px #4cae4c;
	margin: 0px 0px 10px 0px;
	/*font*/
	font-family: 'Alegreya Sans';/*can use different font later*/
	font-weight: bold;
	font-size: 16px;
}
.button-container .glyphicon{
	padding: 0px 10px 0px 0px;
}
.button-description-contianer{
	/*font*/
	font-family: 'Alegreya Sans';/*can use different font later*/
	font-weight: bold;
	border: 5px solid #d9d9d9;
	border-radius: 5px;
	text-align: left;
	width: 310px;
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 16px;
}
.button-description1{
	padding: 0px 0px 5px 0px;
}
.button-description-contianer2{
	position: relative;
}
.color-grey{
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	z-index: -1;
	opacity: 0.6;
	background: #cccccc;
}
.button-description-contianer div span{
	color: #990000;
}
.game-description{
	position: absolute;
	top: 10px;

	/*font*/
	font-family: 'Signika';/*can use different font later*/
	font-weight: bold;
	font-size: 34px;
	text-align: left;
}
.game-description span{
	font-size: 54px;
	color: #990000;
}
.game-title-container .title-div{
	position: relative;
	top: 7px;
}
.game-title-container div{
	display: inline-block;
}
.game-title-container img{
	height: 70px;
	width: 70px;
}
.game-title-container{
	display: none;
	/*font*/
	font-family: 'Alegreya';/*can use different font later*/
	font-weight: bold;
	font-size: 50px;
}
.play-container{
	width: 380px;
	position: relative;
}
.monster-container{
	position: absolute;
	top: 0px;
	left: 0px;
}
.monster-container img{
	height: 80px;
	width: 58px;
}
.game-right{
	position: absolute;
	top: 0px;
	right: 0px;
}


@media screen and (min-width: 1200px){
.monster-container img{
	height: 240px;
	width: 175px;
}
.play-container{
	width: 565px;
	position: relative;
}
.monster-container{
	position: absolute;
	top: 0px;
	left: 0px;
}
.button-description-contianer{
	width: 380px;
	/*font*/
	font-size: 20px;
}
.button-description1{
	padding: 0px 0px 10px 0px;
}
.button-container{
	position: absolute;
	top: 105px;
	right: 43px;
}
.button-container button{
	height: 45px;
	width: 275px;
	margin: 0px 0px 15px 0px;
	font-size: 18px;
}
.game-super-container{
	position: relative;
	width: 1100px;
}
.game-description{
	font-size: 38px;
}
.game-description span{
	font-size: 58px;
}
}


@media screen and (max-width: 900px){
.game-description{
	display: none;
}
.game-right{
	position: static;
}
.game-super-container{
	position: static;
	width: auto;
}
.monster-container{
	display: none;
}
.game-title-container{
	display: block;
}
.play-container{
	width: auto;
	position: static;
}
.button-container{
	position: static;
	padding: 15px 0px 0px 0px;
}
.button-description-contianer{
	position: static;
	margin: 10px 0px 0px 0px;
}
}


@media screen and (max-width: 550px){
.game-title-container img{
	height: 55px;
	width: 55px;
}
.game-title-container{
	font-size: 30px;
}
.button-description-contianer{
	width: 285px;
	/*font*/
	font-size: 15px;
	border: 3px solid #d9d9d9;
	border-radius: 3px;
}
.button-container button{
	display: block;
	height: 32px;
	width: 200px;
	border-radius: 3px;
	box-shadow: 3px 3px 19px -2px #4cae4c;
	margin: 0px 0px 10px 0px;
	/*font*/
	font-family: 'Alegreya Sans';/*can use different font later*/
	font-weight: bold;
	font-size: 16px;
}
}
/*******content inside game section*******/



/*******content inside introduction section*******/
.monster-list{
	list-style-type: none;
	padding: 0;
	margin: 0;

	/*font*/
	font-family: 'Alegreya Sans';/*can use different font later*/
	font-weight: bold;
	font-size: 20px;
}
.monster-list li{
	display: inline-block;
	background: white;
	margin: 10px;
}
.monster-list li img{
	width: 139px;
	height: 200px;
	background: red;
	padding: 25px;
}

/*******content inside introduction section*******/



/*******content inside contact section*******/
.member-container{
	list-style-type: none;
	height: 160px;
	width: 675px;
	margin: 0;
	padding: 0px 0px 0px 20px;
	text-align: left;
}
.member-container li{
	width: 175px;
	
	display: inline-block;
	float: left;

	/*font*/
	font-family: 'Alegreya Sans';/*can use different font later*/
	font-weight: bold;
	font-size: 24px;
}
.li3{
	padding: 0px 20px 0px 30px;
}
.li4{
	padding: 0px 20px 30px 30px;
}
.team-email{
	/*font*/
	font-family: 'Alegreya Sans';/*can use different font later*/
	font-weight: bold;
	font-size: 45px;
}
.team-email a{
	color: #333;
}
.contact-text{
	width: 580px;
	text-align: left;
	/*font*/
	font-family: 'Alegreya Sans';/*can use different font later*/
	font-weight: bold;
	font-size: 20px;
	padding: 0px 0px 20px 0px;
}

@media screen and (max-width: 720px){
.member-container{
	height: 230px;
	width: 450px;
	padding: 0px 0px 0px 20px;
}
.member-container li{
	padding: 0px 20px 20px 30px;
}
.contact-text{
	width: 360px;
	font-size: 20px;
	padding: 0px 0px 30px 0px;
}
}


@media screen and (max-width: 550px){
.member-container{
	height: 170px;
	width: 285px;
	padding: 0px 0px 0px 15px;
}
.member-container li{
	width: 135px;
	font-size: 18px;
	
}
.member-container .li1{
	padding: 0px 0px 10px 0px;
}
.member-container .li2{
	padding: 0px 12px 10px 0px;
}
.team-email{
	font-size: 30px;
}
.contact-text{
	width: 250px;
	font-size: 16px;
	padding: 0px 0px 20px 0px;
}
}
/*******content inside contact section*******/


/*******content inside footer*******/
.copyright{
	padding: 13px 0px 0px 0px;
	/*font*/
	font-family: 'Alegreya Sans';/*can use different font later*/
	font-weight: bold;
	font-size: 18px;

}
@media screen and (max-width: 550px){
.copyright{
	font-size: 15px;
	padding: 15px 0px 0px 0px;
}
}
/*******content inside footer******